*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--White: hsl(0, 0%, 100%);
	--Light-gray: hsl(212, 45%, 89%);
	--Grayish-blue: hsl(220, 15%, 55%);
	--Dark-blue: hsl(218, 44%, 22%);
}

body {
	font-size: 15px;
	font-family: sans-serif;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

body {
	max-width: 1440px;
	background-color: var(--Light-gray);
	margin: 50px auto;
}

.card {
	background-color: var(--White);
	width: 375px;
	margin: auto;
	padding: 18px;
	text-align: center;
	border-radius: 5%;
	margin-bottom: 30px;
}

.card img {
	width: 335px;
	border-radius: 5%;
}

.card h2 {
	color: var(--Dark-blue);
	font-weight: 700;
	margin-top: 20px;
	margin-inline: 20px;
}

.card p {
	color: var(--Grayish-blue);
	margin-inline: 35px;
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 0.5px;
}
